.btn {
  box-sizing: border-box;
  background-color: #625E58;
  border: 1px solid #A28A6A;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 5px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #000000;
  width: 130px;
  height: auto;
}

.btn:hover {
  background-color: #827665;
}

.btn:active {
  position: relative;
  top: 1px;
}