.hab-title-container{
  display: block;
  box-sizing: border-box;
  position: relative;
}

.hab-title{
  padding-left: 2rem;
  margin: 2.5rem 0;
}

.hab-login-container{
  display: flex;
  justify-content: center;
}

.hab-form-charge{
  width: 30rem !important;
}

.hab-formDiv{
  padding: 7px;
}

.hab-costos{
  padding-bottom: 10px;
}

.hab-formP{
  border-bottom: solid 1px;
}

.hab-btnContainer{
  display: flex;
  justify-content: center;
}