.fila {
	display: flex;
	align-items: center;
}

.fila h6 {
	width: 40%;
	margin: 0;
	border-bottom: solid grey 1px;
	padding: 5px;
	height: 30px !important;
}

.fila p {
	width: 60%;
	margin: 0;
	border-bottom: solid grey 1px;
	padding: 5px;
	height: 30px !important;
}