.index-divMain-container {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.index-main {
  box-sizing: border-box;
  position: relative;
  padding: 30px 0;
}

.index-main-containerText {
  padding-right: 60px;
}

.index-main-AppTitle {
  padding-right: 2rem;
}

.index-main-buttonContainer {
  width: 140px;
  padding-left: 10px;
}

.index-divContainer-button {
  box-sizing: border-box;
  padding: 10px 0;
  flex-direction: column;
}

.index-btn{
  width: 140px !important;
  padding: 17px !important;
}
