.layout-nav {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    padding-bottom: 0;
    height: 5.7rem;
    background-color: #423C33;
    color: white;
}

.nav-title h2 {
    box-sizing: border-box;
    padding-left: 5rem;
    font-size: 35px;
    margin: 0;
}

.nav-linksContainer {
    box-sizing: border-box;
    width: 68vh;
}

.nav-linksContainer ul {
    gap: 20px;
    list-style: none;
}

.nav-links {
    width: 100% !important;
    height: 100% !important;
}

.linksContainer{
    width: 100%;
}

.linksContainer a {
    color: white;
    text-decoration: none;
}

.fila {
    align-items: center;
}

.fila li {
    text-align: center;
    width: 7.5rem;
}

.link-containerFlex{
    height: 5.5rem ;
}

.link-containerFlex li{
    display: grid;
    place-items: center;
    height: 100% !important;
}

.link{
    border-right: 1px solid black;
}

a:hover {
    color: #A88D6A;
}