.signUp-title-container{
  display: block;
  box-sizing: border-box;
}

.signUp-title{
  padding-left: 2rem;
  margin: 2rem 0 !important;
}

.signUp-login-container{
  display: flex;
  justify-content: center;
}

.form-signUp{
  width: 30rem !important;
}

.signUp-formDiv{
  padding: 7px;
}

.signUp-div-footer{
  padding: 10px;
}

.signUp-btnContainer{
  display: flex;
  justify-content: center;
}

.signUp-div-footer{
  bottom: 0;
}