body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  margin: 0;
  padding: 2rem;
}


header {
  display: flex;
  /*background-color: #9C0D9A;*/
  height: 55px;
  align-items: center;
}


/*POSICIONAMIENTO*/

.main-AppTitle {
  padding-right: 2rem;
}

.divHeader-container {
  padding-left: 2%;
  position: relative;
}

.header-container-CurrentPage {
  text-align: left;
  display: block;
  margin: 0;
}


.main {
  box-sizing: border-box;
  position: relative;
  padding: 30px 0;
}

.divMain-container {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.main-containerText {
  padding-right: 60px;
}

.main-buttonContainer {
  width: 140px;
  padding-left: 10px;
}

.divContainer-button {
  box-sizing: border-box;
  padding: 10px 0;
  flex-direction: column;
}


/*ESTILOS*/

.button-conductor,
.button-pasajero {
  box-sizing: border-box;
  background-color: #774deb;
  border: 1px solid #f7f7f7;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 15px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #61a157;
  width: 150px;
  height: auto;
}

.button-conductor:hover {
  background-color: #5b48d4;
}

.button-pasajero:hover {
  background-color: #5b48d4;
}

.button-conductor:active {
  position: relative;
  top: 1px;
}

.button-pasajero:active {
  position: relative;
  top: 1px;
}